In [71]:
#Required libraires for the project
import os
import nltk
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import re
text_list=[]
label_list=[]
df = pd.DataFrame(columns=['Text','Label'])
count=0
for root, dirs, files in os.walk("/Users/prashanthimallijula/Documents/EECS738/project3/lingspam_public/bare/"):
    #os.path.join(root)
    for  root, dirs, files in os.walk(root):
            for file in files:
                if count > 0:
                    f = open(root+"/"+file, "r",encoding="utf8", errors='ignore')
                    text= f.read()
                    if (file[0:4]=="spms"):
                        lable= "spam"
                    else:
                        lable= "not_spam"
                    f.close()
                    text_list.append(text[8:])
                    label_list.append(lable)

            count=count+1
df['Text']=text_list
df['Label']=label_list

In [72]:
df.head()

                                                Text     Label
0   job posting - apple-iss research center\n\nco...  not_spam
1   \n\nlang classification grimes , joseph e . a...  not_spam
2   query : letter frequencies for text identific...  not_spam
3   risk\n\na colleague and i are researching the...  not_spam
4   request book information\n\nearlier this morn...  not_spam

In [73]:
df['Label'].unique()

array(['not_spam', 'spam'], dtype=object)

In [74]:
from nltk import word_tokenize
df['Text'].dropna(inplace=True)
df['tokenized_text'] =df['Text'].apply(word_tokenize)

In [57]:
df['tokenized_text'].head()

0    [job, posting, -, apple-iss, research, center,...
1    [lang, classification, grimes, ,, joseph, e, ....
2    [query, :, letter, frequencies, for, text, ide...
3    [risk, a, colleague, and, i, are, researching,...
4    [request, book, information, earlier, this, mo...
Name: tokenized_text, dtype: object

In [34]:
#Check stop words and special characters
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = stopwords.words('english')
special=['!','@','#','$','%','^','&','*','(',')',':','<','>',',','.',';','{','}','|','_','-','+','=','`','~',"--","'",'"','[',']']

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/prashanthimallijula/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [38]:
#Remove speacial characters
for item  in df['tokenized_text']:
    item_new=[]
    for word in item:
        word=str(word)
        if (word in special) and (word.isalpha() == False):
            item.remove(word)

In [40]:
df.head()

,Text,Label,tokenized_text
0,job posting - apple-iss research center\n\nco...,NaN,"[job, posting, apple-iss, research, center, co..."
1,"\n\nlang classification grimes , joseph e . a...",NaN,"[lang, classification, grimes, joseph, e, and,..."
2,query : letter frequencies for text identific...,NaN,"[query, letter, frequencies, for, text, identi..."
3,risk\n\na colleague and i are researching the...,NaN,"[risk, a, colleague, and, i, are, researching,..."
4,request book information\n\nearlier this morn...,NaN,"[request, book, information, earlier, this, mo..."